{% extends "MesClicsAdminBundle::layout.html.twig" %} 

{% block deskHeadNavRails %}
    <a href="{{ path('mesclics_admin_home') }}" class="desk-head-nav_rails--item">Console d'administration</a>
    >
    <a href="{{ path('mesclics_admin_clients') }}" class="desk-head-nav_rails--item [ oocss-active-link ]">Clients</a>
{% endblock deskHeadNavRails %}

{% block deskMain %} {# section Liste des clients #}
        {% include "MesClicsEspaceClientBundle:Widgets:client-search.html.twig" %}
        <!-- Si la sous-section est clients -->
        <section class="oocss-widget large clients-list">
            {% include "MesClicsEspaceClientBundle:Widgets:clients-list.html.twig" %}
        </section>

        {% include "MesClicsEspaceClientBundle:Widgets:client-new.html.twig" %}
{% endblock deskMain%}
