{% extends "MesClicsAdminBundle::layout.html.twig" %} 

{% block deskHeadNavRails %}
    <a href="{{ path('mesclics_admin_home') }}" class="desk-head-nav_rails--item">Console d'administration</a>
    >
    <a href="{{ path('mesclics_admin_clients') }}" class="desk-head-nav_rails--item [ oocss-active-link ]">Clients</a>
{% endblock deskHeadNavRails %}

{% block deskMain %} {# section Liste des clients #}
    <!-- Si la sous-section est clients -->
    <section>
        <h2 class="[ oocss-title-section ]">Liste des clients</h2>
        {% include "MesClicsEspaceClientBundle:Admin:clients.html.twig" %}
    </section>
{% endblock deskMain%}

{% block deskLateral %}
        {% include "MesClicsEspaceClientBundle:Widgets:client-search.html.twig" %}
        {% include "MesClicsEspaceClientBundle:Widgets:client-new.html.twig" %}
{% endblock deskLateral %}