{% extends "MesClicsAdminBundle::layout.html.twig" %}

{# {% block sectionTitle %}
    <h1>Console d'administration</h1>
{% endblock sectionTitle %} #}

{% block deskHeadNavRails %}
    <a class="desk-head-nav_rails--item" href="{{ path('mesclics_admin_home') }}">Console d'administration</a>   
{% endblock deskHeadNavRails %}

{% block deskMain %}

    {% include "MesClicsNavigationBundle:Widgets:LastActions.html.twig" %}

    {% for widget in widgets %}
        {% include widget.template  with widget.variables %}
    {% endfor %}
{% endblock deskMain %}