
:root{
    --oocss-slideshow-slider-cursors-color: var(--ashes);
    --oocss-slideshow-slider-cursor-active-color: var(--red);
}
/***** MESSAGE *****/
    /* MESSAGE--HEADERS */
    .message--headers{
        padding-bottom: 3vh;
        border-bottom: dotted 2px var(--ashes);
    }
        .message--headers__d__lateral{
            border-color: var(--ashes);
        }

    .message--content__d__lateral{
        background-color: var(--smoke);
        color: var(--ashes);
    }

    .message-controls--item{
        background-color: var(--smoke);
    }
        .message-controls--item__d__lateral,
        .message-controls--item__d__lateral:visited{
            color: var(--smoke);
            background-color: var(--ashes);
        }

    .message-controls--item:hover{
        background-color: var(--ashes);
        color: var(--smoke);
    }
        .message-controls--item__d__lateral:hover{
            background-color: black;
        }
/*************************/
.desk{
    background-image: url('../images/admin/backgrounds/filigrane.png');
    background-position: top left;
    background-size: auto 100vh;
    background-repeat: no-repeat;
}

.desk_head-logo{
    background-image: url('../images/mesclics/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px 47px;
}

.desk-head-nav_rails--item:last-child{
    color: var(--red);
}

.desk-main{
}

.desk-lateral{
   box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

/* WIGETS */
.oocss-widget{
    box-shadow: 0px 5px 40px 0px var(--shadow);
    background-color: var(--black);
    color: var(--white);
}
    .oocss-widget.highlight{
        background-color: var(--red);
        color: var(--smoke);
    }
    .oocss-widget.highlight2{
        background-color: var(--yellow);
        color: var(--smoke);
    }
    .oocss-widget.oocss-discret{
        background-color: transparent;
        color: var(--red);
        box-shadow: none;
    }

.oocss-widget--content{
    background-color: var(--white);
    color: var(--ashes);
    cursor: var(--cursor-auto-grey);
}
.oocss-discret .oocss-widget--content{
    background-color: transparent;
    color: var(--smoke);
}
.oocss-widget--content-zone{
    background-color: var(--smoke);
}
.oocss-widget--content-zone.highlight{
    background-color: var(--green);
    color: var(--white);
}

.oocss-widget--content a, .oocss-widget--content a:hover, .oocss-widget--content select, .oocss-widget--content select:hover, .oocss-widget--content option, .oocss-widget--content option:hover, .oocss-widget--content input, .oocss-widget--content input:hover, .oocss-widget--content label, .oocss-widget--content button, .oocss-widget--content button:hover{
    cursor: var(--cursor-pointer-grey);
}

.oocss-widget.oocss-discret .oocss-widget--content{
    cursor: var(--cursor-auto-white);
}

.oocss-widget.oocss-discret .oocss-widget--content a, .oocss-widget.oocss-discret .oocss-widget--content a:hover, .oocss-widget.oocss-discret .oocss-widget--content select, .oocss-widget.oocss-discret .oocss-widget--content select:hover, .oocss-widget.oocss-discret .oocss-widget--content option, .oocss-widget.oocss-discret .oocss-widget--content option:hover, .oocss-widget.oocss-discret .oocss-widget--content input, .oocss-widget.oocss-discret .oocss-widget--content input:hover, .oocss-widget.oocss-discret .oocss-widget--content label, .oocss-widget.oocss-discret .oocss-widget--content button, .oocss-widget.oocss-discret .oocss-widget--content button:hover{
    cursor: var(--cursor-pointer-white);
}

.oocss-widget.actions .oocss-widget--head:before{
    background-image: url('../images/navigation/icones/actions/white/action.png');
}

.oocss-widget.clients-search .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/rechercher.png');
}

.oocss-widget.client-new .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/ajouter.png');
}

.oocss-widget.client-update .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/highlight.png');
}

.oocss-widget.clients-list .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/client.png');
}

.oocss-widget.client-projets .oocss-widget--head::before{
    background-image: url('../images/admin/icones/projets/white/projet.png');
}

.oocss-widget.client-projets-new .oocss-widget--head::before{
    background-image: url('../images/admin/icones/projets/white/ajouter.png');
}

.oocss-widget.client-projet-edit .oocss-widget--head::before{
    background-image: url('../images/admin/icones/projets/white/highlight.png');
}

.oocss-widget.client-contrats .oocss-widget--head::before{
    background-image: url('../images/admin/icones/contrats/white/contrat.png');
}

.oocss-widget.client-contrats-new .oocss-widget--head::before{
    background-image: url('../images/admin/icones/contrats/white/new.png');
}

.oocss-widget.client-contrat-associer-projets .oocss-widget--head::before{
    background-image: url('../images/admin/icones/contrats/white/lier.png');
}

.oocss-widget.posts-list .oocss-widget--head::before{
    background-image: url('../images/admin/icones/edition/white/publication.png');
}

.oocss-widget.posts-new .oocss-widget--head::before{
    background-image: url('../images/admin/icones/edition/white/publication-new.png');
}

.oocss-widget.posts-edit .oocss-widget--head::before{
    background-image: url('../images/admin/icones/edition/white/publication-edit.png');
}

.oocss-widget.collections-new .oocss-widget--head::before{
    background-image: url('../images/admin/icones/edition/white/collection-new.png');
}

.oocss-widget.collections-list .oocss-widget--head::before{
    background-image: url('../images/admin/icones/edition/white/collection.png');
}

.oocss-widget.collections-edit .oocss-widget--head::before{
    background-image: url('../images/admin/icones/edition/white/collection-edit.png');
}
/***********************/

/* OOCSS-BUTTON */
.oocss-button.oocss-interface{
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

.oocss-button.prev{
    background-image: url('../../mesclics/images/interface/grey/prev.png');
}
    .oocss-button.prev:hover{
        background-image: url('../../mesclics/images/interface/smoke/prev.png');
    }

.oocss-button.next{
    background-image: url('../../mesclics/images/interface/grey/next.png');
}   
    .oocss-button.next:hover{
        background-image: url('../../mesclics/images/interface/smoke/next.png');
    }
/****************/

/* OOCSS-HEADED-BLOCKS */
    /* CLIENTS */
    .oocss-headed-block.client-contrats:before{
        background-image: url('../../mesclicsespaceclient/images/icones/contrats/white/contrat.png');
    }
    .oocss-headed-block.client-projets:before{
        background-image: url('../../mesclicsespaceclient/images/icones/projets/white/projet.png');
    }
        .oocss-widget:not(.oocss-discret) .oocss-headed-block.client-projets:before{
            background-image: url('../../mesclicsespaceclient/images/icones/projets/ashes/projet.png');
        }
    .oocss-headed-block.client-contrats-projets-unlink:before{
        background-image: url('../../mesclicsespaceclient/images/icones/projets/grey/delier.png');
    }
    .oocss-headed-block.client-projets-new:before{
        background-image: url('../../mesclicsespaceclient/images/icones/projets/white/ajouter.png');
    }
    .oocss-headed-block.client-projets-remove:before{
        background-image: url('../../mesclicsespaceclient/images/icones/projets/white/supprimer.png');
    }
        .oocss-headed-block.client-projets-remove.oocss-discret:before{
            background-image: url('../../mesclicsespaceclient/images/icones/projets/grey/supprimer.png');
        }
    .oocss-headed-block.client-contrats-new:before{
        background-image: url('../../mesclicsespaceclient/images/icones/contrats/white/new.png');
    }
    .oocss-headed-block.client-contrats-remove:before{
        background-image: url('../../mesclicsespaceclient/images/icones/contrats/white/supprimer.png');
    }
        .oocss-headed-block.client-contrats-remove.oocss-discret:before{
            background-image: url('../../mesclicsespaceclient/images/icones/contrats/grey/supprimer.png');
        }

    /*COLLECTIONS*/
    .oocss-headed-block.collection-new:before{
        background-image: url('../../mesclicspost/images/icones/white/collection-new.png');
    }
    .oocss-headed-block.collections-all:before{
        background-image: url('../../mesclicspost/images/icones/white/collection.png');
    }

    /*INTERFACE*/
    .oocss-headed-block.save:before{
        background-image: url('../../mesclics/images/interface/white/save.png');  
    }
        .oocss-headed-block.save.oocss-discret:before{
            background-image: url('../../mesclics/images/interface/grey/save.png');
        }

    /* MESSAGES */
    .oocss-headed-block.messages-all:before{
            background-image: url('../../mesclicsmessages/images/icones/white/lus.png');
    }
    .oocss-headed-block.messages-draft:before{
        background-image: url('../../mesclicsmessages/images/icones/white/non-lus.png');
    }
    .oocss-headed-block.message-new:before{
        background-image: url('../../mesclicsmessages/images/icones/white/new.png');
    }
    .oocss-headed-block.messages-sent:before{
        background-image: url('../../mesclicsmessages/images/icones/white/envoyes.png');
    }
    .oocss-headed-block.messages-unread:before{
        background-image: url('../../mesclicsmessages/images/icones/white/messages.png');
    }
    
    /* POSTS */
    .oocss-headed-block.publication-new:before{
        background-image: url('../../mesclicspost/images/icones/white/publication-new.png');
    }
    .oocss-headed-block.publications-all:before{
        background-image: url('../../mesclicspost/images/icones/white/publication.png');
    }
/*******************/
/* TABLES */
.oocss-table-head-row{
    color: var(--grey);
}

.oocss-table-data:not(.discret){
    border-bottom: dotted 1px var(--beige);
}

    .oocss-table-row:hover .oocss-table-data:not(.discret){
        background-color: var(--smoke);
        transition: all ease-in-out 300ms;
    }
    

.oocss-table-data-icon path{
    stroke: var(--ashes);
}

    /* MESSAGES */
    .oocss-table-row.messages__s__unread .oocss-table-data{
        color: var(--red);
    }

.oocss-clickable-table-row:hover .oocss-table-data{
    cursor: var(--cursor-pointer-grey);
}
    
.oocss-table-col-sort.oocss-active{
    color: var(--red);
}
/*******************/

/* BOTTOM-BAR */
.bottom_bar{
    background-color: black;
}

.bottom_bar--user{
    color: var(--ashes);
}

.admin_menu_item-button{
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center center;
}
    .admin_menu_item-button.logout{
        background-image: url('../images/admin/icones/menu/deconnexion-white.png');
    }
    .admin_menu_item-button.logout:hover{
        background-image: url('../images/admin/icones/menu/deconnexion-red.png');
    }

    .admin_menu_item-button.home{
        background-image: url('../images/admin/icones/menu/home-white.png');
    }
    .admin_menu_item-button.home:hover{
        background-image: url('../images/admin/icones/menu/home-red.png');
    }

    .admin_menu_item-button.messages{
        background-image: url('../images/admin/icones/menu/messages-white.png');
    }
    .bottom_bar-admin_menu--item.active .admin_menu_item-button.messages,
    .admin_menu_item-button.messages:hover{
        background-image: url('../images/admin/icones/menu/messages-red.png');
    }

    .admin_menu_item-button.edition{
        background-image: url('../images/admin/icones/menu/edition-white.png');
    }
    .admin_menu_item-button.edition:hover{
        background-image: url('../images/admin/icones/menu/edition-red.png');
    }

    .admin_menu_item-button.medias{
        background-image: url('../images/admin/icones/menu/medias-white.png');
    }
    .admin_menu_item-button.medias:hover{
        background-image: url('../images/admin/icones/menu/medias-red.png');
    }

    .admin_menu_item-button.clients{
        background-image: url('../images/admin/icones/menu/clients-white.png');
    }
    .admin_menu_item-button.clients:hover{
        background-image: url('../images/admin/icones/menu/clients-red.png');
    }

    .admin_menu_item-button.users{
        background-image: url('../images/admin/icones/menu/users-white.png');
    }
    .admin_menu_item-button.users:hover{
        background-image: url('../images/admin/icones/menu/users-red.png');
    }

    .admin_menu_item-button.stats{
        background-image: url('../images/admin/icones/menu/stats-white.png');
    }
    .admin_menu_item-button.stats:hover{
        background-image: url('../images/admin/icones/menu/stats-red.png');
    }
 
.admin_menu_item-label{
    color: var(--red);
    background-color: black;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
}
/******************/

.notification{
    background-color: var(--blue);
    grid-column: span 2;
}

/***** FLASH-MESSAGES *****/
.flash-messages{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}
.flash-message{
    background-color: var(--white);
}

.flash-message.success{
    color: var(--green);
}
.flash-message.success::before{
    background-color: var(--green);
}

.flash-message.error{
    color: var(--red);
}
.flash-message.error::before{
    background-color: var(--red);
}

.flash-message.warning{
    color: var(--yellow);
}
.flash-message.warning::before{
    background-color: var(--yellow);
}
.flash-message .oocss-close:before{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url('../../mesclics/images/interface/ashes/cross.png');
}
/**************************/



/**************/
/* ANIMATIONS */
/**************/

.bottom_bar-admin_menu--item:hover .admin_menu_item-label{
    animation: bouncing-label 300ms ease-in-out 150ms forwards;
}
    @keyframes bouncing-label{
        50%{z-index: -1;}
        75%{transform: translateY(-40px); z-index: 2;}
        100%{transform: translateY(-35px); z-index: 2;}
    }


.flash-messages{
    animation : flashMessages 500ms ease-in-out 150ms forwards;
    overflow: hidden;
}
.flash-message.oocss-closed{
    min-height: 0;
    height: 0;
    transition: min-height 250ms linear 150ms, height 500ms linear 150ms;
}
    @keyframes flashMessages{
        75%{transform: translateY(calc(var(--bottom-bar-h) + 105%));}
        100%{transform: translateY(calc(-1 * ( var(--bottom-bar-h) + 100%)));}
    }
.oocss-index__d__admin_menu.messages{
    animation: index-hey 1000ms ease-in-out infinite;
}
    @keyframes index-hey{
        50%{ transform: scale(1.075) translate(-5px, -5px);}
    }

.message-form__d__new__s__sent{
    animation: fly-away 1000ms cubic-bezier(1, 0, 1, 0.55) forwards;
}

    @keyframes fly-away{
        30%, 60%{ transform: translateY(30vh);}
        100%{ transform: scale(0.8) rotate(40deg) translateY(-300vh) translateX(50vw);}
    }

    .popup-illustration.projet-remove path{
        stroke: var(--smoke);
    }
    .popup-illustration.projet-remove svg{
        width: 50%;
        height: auto;
    }

    .popup-illustration.contrat-remove path{
        stroke: var(--smoke) !important;
    }
    .popup-illustration.contrat-remove svg{
        width: 50%;
        height: auto;
    }