/***** MESSAGE *****/
    /* MESSAGE--HEADERS */
    .message--headers{
        padding-bottom: 3vh;
        border-bottom: dotted 2px var(--ashes);
    }
        .message--headers__d__lateral{
            border-color: var(--ashes);
        }

    .message--content__d__lateral{
        background-color: var(--smoke);
        color: var(--ashes);
    }

    .message-controls--item{
        background-color: var(--smoke);
    }
        .message-controls--item__d__lateral,
        .message-controls--item__d__lateral:visited{
            color: var(--smoke);
            background-color: var(--ashes);
        }

    .message-controls--item:hover{
        background-color: var(--ashes);
        color: var(--smoke);
    }
        .message-controls--item__d__lateral:hover{
            background-color: black;
        }
/*************************/
.desk{
    background-image: url('../images/admin/backgrounds/filigrane.png');
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

.desk_head-logo{
    background-image: url('../images/mesclics/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px 47px;
}

.desk-main{
}

.desk-lateral{
   box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

/* WIGETS */
.oocss-widget{
    box-shadow: 0px 5px 40px 0px var(--shadow);
}

.oocss-widget.discret{
    background-color: transparent;
    color: var(--white);
    box-shadow: none;
}

.oocss-widget--content{
    background-color: var(--white);
    color: var(--ashes);
    cursor: url('../images/mesclics/cursor_auto_dark_grey.png') 17 2, auto;
}

.oocss-widget--content a, a:hover, select, select:hover, option, option:hover, input, input:hover, label, button, button:hover{
    cursor: url('../images/mesclics/cursor_pointer.png') 17 2, pointer;
}

.oocss-widget.clients-search .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/rechercher.png');
}

.oocss-widget.client-new .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/ajouter.png');
}

.oocss-widget.clients-list .oocss-widget--head::before{
    background-image: url('../images/admin/icones/clients/white/client.png');
}

.bottom_bar{
    background-color: black;
}

.bottom_bar--user{
    color: var(--ashes);
}

.admin_menu_item-button{
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center center;
}
    .admin_menu_item-button.logout{
        background-image: url('../images/admin/icones/menu/deconnexion-white.png');
    }
    .admin_menu_item-button.logout:hover{
        background-image: url('../images/admin/icones/menu/deconnexion-red.png');
    }

    .admin_menu_item-button.home{
        background-image: url('../images/admin/icones/menu/home-white.png');
    }
    .admin_menu_item-button.home:hover{
        background-image: url('../images/admin/icones/menu/home-red.png');
    }

    .admin_menu_item-button.messages{
        background-image: url('../images/admin/icones/menu/messages-white.png');
    }
    .bottom_bar-admin_menu--item.active .admin_menu_item-button.messages,
    .admin_menu_item-button.messages:hover{
        background-image: url('../images/admin/icones/menu/messages-red.png');
    }

    .admin_menu_item-button.edition{
        background-image: url('../images/admin/icones/menu/edition-white.png');
    }
    .admin_menu_item-button.edition:hover{
        background-image: url('../images/admin/icones/menu/edition-red.png');
    }

    .admin_menu_item-button.medias{
        background-image: url('../images/admin/icones/menu/medias-white.png');
    }
    .admin_menu_item-button.medias:hover{
        background-image: url('../images/admin/icones/menu/medias-red.png');
    }

    .admin_menu_item-button.clients{
        background-image: url('../images/admin/icones/menu/clients-white.png');
    }
    .admin_menu_item-button.clients:hover{
        background-image: url('../images/admin/icones/menu/clients-red.png');
    }

    .admin_menu_item-button.users{
        background-image: url('../images/admin/icones/menu/users-white.png');
    }
    .admin_menu_item-button.users:hover{
        background-image: url('../images/admin/icones/menu/users-red.png');
    }

    .admin_menu_item-button.stats{
        background-image: url('../images/admin/icones/menu/stats-white.png');
    }
    .admin_menu_item-button.stats:hover{
        background-image: url('../images/admin/icones/menu/stats-red.png');
    }
 
.admin_menu_item-label{
    color: var(--red);
    background-color: black;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
}

.notification{
    background-color: var(--blue);
    grid-column: span 2;
}

.popup{
}


/**************/
/* ANIMATIONS */
/**************/

.bottom_bar-admin_menu--item:hover .admin_menu_item-label{
    animation: bouncing-label 300ms ease-in-out 150ms forwards;
}
    @keyframes bouncing-label{
        50%{z-index: -1;}
        75%{transform: translateY(-40px); z-index: 2;}
        100%{transform: translateY(-35px); z-index: 2;}
    }

.oocss-index__d__admin_menu.messages{
    animation: index-hey 1000ms ease-in-out infinite;
}
    @keyframes index-hey{
        50%{ transform: scale(1.075) translate(-5px, -5px);}
    }

.message-form__d__new__s__sent{
    animation: fly-away 1000ms cubic-bezier(1, 0, 1, 0.55) forwards;
}

    @keyframes fly-away{
        30%, 60%{ transform: translateY(30vh);}
        100%{ transform: scale(0.8) rotate(40deg) translateY(-300vh) translateX(50vw);}
    }