/*****************/
/* OOCSS STYLES **/
/*****************/

/***** OOCSS-FORM *****/

    .oocss-form-input.titre{
        font-size: var(--extra-big-text);
    }

    .oocss-form-input.collection{
        text-transform: uppercase;
    }
/************************/

/***** OOCSS-INDEX *****/
    .oocss-index{
        font-size: var(--extra-small-text);
        letter-spacing: normal;
        line-height: 30px;
        font-weight: var(--font-weight-bold);
        text-align: center;
    }
/***********************/

/***** OOCSS-INSTRUCTION *****/
    .oocss-instruction{
        text-align: center;
        letter-spacing: 2px;
    }
        .oocss-instruction.oocss-discret{
            letter-spacing: normal;
            font-size: var(--small-text);
            font-style: italic;
            text-transform: lowercase;
        }
        
    .oocss-instruction--link{
        text-transform: uppercase;
    }
/*****************************/

/***** OOCSS-LABEL *****/
    .oocss-label{
        font-size: var(--small-text);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
/***********************/

/***** OOCSS-LEGEND *****/
    .oocss-legend--item{
        font-size: var(--extra-small-text);
        text-transform: uppercase;
    }
/************************/

/***** OOCSS MESSAGE *****/
    .message--controls{
        font-size: var(--extra-small-text);
        text-transform: uppercase;
        text-align: center;
    }
/*************************/

/***** OOCSS-SUB_SECTION-NAV *****/
    .oocss-sub_section-nav--item{
        text-transform: uppercase;
    }
/*********************************/


/***** OOCSS-WIDGET *****/
    .oocss-widget{
        line-height: 24px;
    }

    .oocss-widget--title{
        width: 100%;
        text-align: center;
    }

    .oocss-widget h3{
        font-size: var(--small-text);
    }
/************************/


/*********************/
/* GRID AREAS STYLES */
/*********************/

/***** DESK *****/
    /* DESK HEAD LOGO */
    .desk_head-logo{
        font-size: 0;
    }
    /* DESK HEAD NAV-RAILS */
    .desk-head-nav_rails--item{
        text-transform: uppercase;
    }
/******************/

/***** BOTTOM BAR *****/
    /* BOTTOM BAR ADMIN MENU */
    .admin_menu_item-label{
        font-size: var(--extra-small-text);
        text-transform: uppercase;
        text-align: center;
    }
/************************/


/************/
/* SECTIONS */
/************/
/***** MESSAGES *****/
    .oocss-table-row.messages__s__unread{
        font-weight: var(--font-weight-bold);
    }
/********************/